# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Logs
backend/logs/
frontend/logs/
*.log

# Environment
*.env

# Node
frontend/node_modules/
frontend/build/

# Backups / temp
backend/req-bak.txt
backend/requirements-fixed.txt
backend/app/services/openai_service_backup.py

# Deployment dirs
dev/
prod/
